{% extends 'layout.html' %}
{% block content %}
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    {% for field in form_fields %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
        <tbody>
            {% for record in conference_list %}
                <tr>
                    {% for field in form_fields %}
                        <td>{{ record.get(field.name) }}</td>
                    {% endfor %}
                    <td><a href="{{ url_for('view_conference', id=record._id) }}">View Details</a></td>
                    <td><a href="{{ url_for('update_conference', id=record._id) }}">Edit</a></td>
                    <td><a href="{{ url_for('delete_conference', id=record._id) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}