{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h4>Reviews for paper:</h4>
        <p> {{ paper_title }} </p>
        {% if reviews %}
            {% for review_record in reviews %}
                <div style="border: 2px solid #dedede; background-color: #f1f1f1; border-radius: 5px; padding: 10px; margin: 10px 0;">
                    <p>{{ review_record.get('review') }}</p>
                </div>
                <div style="color: #aaa;">{{ review_record.get('created_when') }}</div>
                <p>Aspect Scores: Impact: {{ review_record['aspect_scores']['impact'] }} | Clarity: {{ review_record['aspect_scores']['clarity'] }}</p>
            {% endfor %}
        {% else %}
            <p>Feedback Requested. No reviews to show at present.</p>
        {% endif %}
    </div>
{% endblock content %}