{% extends 'layout.html' %}
{% block content %}
    <div class="">
        <h2>{{ title }}</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Conference Name</th>
                    <th>Paper Title</th>
                    <th>Status</th>
                </tr>
            </thead>
        <tbody>
            {% for index in range(0, papers_list|length) %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ papers_list[index].get('conference_name') }}</td>
                    <td>{{ papers_list[index].get('paper_title') }}</td>
                    <td>{{ papers_list[index].get('paper_status') }}</td>
                    <td><a href="{{ papers_list[index].get('s3_url') }}" target="_blank">View PDF</a></td>
                    <td><a href="{{ url_for('view_paper', id=papers_list[index].get('_id')) }}">View Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}