<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Conference Management System - {{ title }}</title>
    {% else %}
        <title>Conference Management System</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Conference Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-item nav-link" href="#">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if session.get('is_authenticated') %}
                        {#                <a class="nav-item nav-link" href="#">New Post</a>#}
                        {#                <a class="nav-item nav-link" href="#">Account</a>#}
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        {% if session.get('role') == 'EDITOR' %}
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('create_conference') }}">Create
                            Conference</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('conference') }}">View
                            Conferences</a></li>
                        <li class="list-group-item list-group-item-light"><a href="">View Reviewers</a></li>
                        <li class="list-group-item list-group-item-light"><a href="">View New/Under-Review Papers</a></li>
                        <li class="list-group-item list-group-item-light"><a href="">View Accepted Papers</a></li>
                        <li class="list-group-item list-group-item-light"><a href="">View Rejected Papers</a></li>
                    </ul>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if session.get('role') == 'REVIEWER' %}
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('conference') }}">View
                            Conferences</a></li>
                        <li class="list-group-item list-group-item-light"><a
                                href="{{ url_for('view_review_request', reviewer_id=session['user_id']) }}">View
                            New/Pending Review Requests</a></li>
                        <li class="list-group-item list-group-item-light"><a
                                href="{{ url_for('view_review_request_with_status', request_status='accepted', reviewer_id=session['user_id']) }}">View
                            Accepted Review Requests</a>
                        </li>
                        <li class="list-group-item list-group-item-light"><a
                                href="{{ url_for('view_review_request_with_status', request_status='declined', reviewer_id=session['user_id']) }}">View
                            Declined Review Requests</a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if session.get('role') == 'AUTHOR' %}
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Author's Explore</h3>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('conference') }}">View
                            Conferences</a></li>
                        <li class="list-group-item list-group-item-light"><a
                                href="{{ url_for('view_papers_by_user_id', user_id=session.get('user_id')) }}">View My
                            Submissions</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for('upload_new_paper') }}">Submit
                            A New Paper</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>