{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h4>{{ title }}</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Conference Name</th>
                <th>Paper Title</th>
                <th>Review Submission Date</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for record in review_requests %}
                <tr>
                    <td>{{ record.get('conference_name') }}</td>
                    <td>{{ record.get('paper_title') }}</td>
                    <td>{{ record.get('review_submission_date') }}</td>
                    {% if request_status == 'accepted' %}
                        {% if record.get('add_review') %}
                            {% if record.get('paper_status') != 'Accepted' and record.get('paper_status') != 'Rejected' %}
                                <td>
                                    <a href="{{ url_for('submit_review', reviewer_id=record.reviewer_id, paper_id=record.paper_id) }}">Add
                                        Review
                                    </a>
                                </td>
                            {% else %}
                                <td class="text-muted">
                                    Add Review
                                </td>
                            {% endif %}
                        {% else %}
                            <td class="text-muted">
                                Add Review
                            </td>
                        {% endif %}
                    {% elif request_status == 'declined' %}
                        <td class="text-muted danger">Declined</td>
                    {% else %}
                        <td>
                            <a href="{{ url_for('review_request', reviewer_id=record.reviewer_id, paper_id=record.paper_id) }}">View
                                Request
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}